<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streszczanie artykułu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="https://static1.squarespace.com/static/57d98e1520099e06131f69ef/t/5a4be4ffc8302599dbd3bcd6/1514923448128/SI-logo-black.png"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/"><img src="https://static1.squarespace.com/static/57d98e1520099e06131f69ef/t/5a4be4ffc8302599dbd3bcd6/1514923448128/SI-logo-black.png" alt="App" height="40" width="60"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/shortenArticle">Skróć artykuł<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Znajź hashatagi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Rozpoznaj kategorię</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid" style="padding-top:50px">
        <h2>Streszczanie artykułu</h2>
        <form method="post" action="/showSummarization/">
            <table>
                <tr>
                    <td>Wprowadź link do strony:</td>
                    <td><input style="width:500px" type="url" name="address" required/></td>
                </tr>
                <tr>
                    <td>Wprowadź liczbę zdań streszczenia:</td>
                    <td><input type="number" name="numberOfSentence" required/></td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button>Streść artykuł</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>