<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rozpoznaj SPAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'logo.png' %}">
</head>
<body style="background: #288">
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="border-radius: 0px 0px 15px 15px;">
        <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" alt="App" height="40" width="40"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shortenArticle">Streszczanie artykułu<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articleClassifier">Kategoria artykułu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spamClassifier">Rozpoznaj SPAM</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="padding-top:50px">
        <div class="jumbotron">
        <form method="post" action="/classificationSpam/">
            <div class="row">
                <div class="col-md-10">
                    <h2>Rozpoznaj SPAM</h2>
                </div>
                <div class="col-md-2" style="text-align: right;">
                    <button type="submit" class="btn btn-info">Rozpoznaj</button>
                </div>
            </div>
            <hr>
            <div>
                <div class="form-group">
                    <label for="mailContent">Wklej treść maila:</label>
                    <textarea class="form-control" id="mailContent" name="mailContent" rows="20"  minlength=50 pattern=".{50,}" required></textarea>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
